<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/static/css/style.css">
        <title>SigmaStats</title>
        <link rel="shortcut icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a href="#" class="navbar-left"><img src="/static/assets/images/SC_FlagColor.jpg" id="SC-flag"></a>
                <div class="navbar-brand" href="#">
                    <span class="text-primary">Sigma</span>
                    <span class="sigma-stats">Stats</span>
                </div>
            <div class="navbar-nav" id="nav-item-container">
            </div>
        </nav>
        <div class="container-fluid bg-primary score-ctr">
            <div class="row text-light">
                <div class="col display-4">Home</div>
                <div class="col-2 display-4">vs.</div>
                <div class="col display-4">Away</div>
            </div>
            <div class="row text-light">
                <div class="col h1" id="home-score">0</div>
                <div class="col-2 h1">-</div>
                <div class="col h1" id="away-score">0</div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row mh-100">
                <div class="col bg-dark text-light border border-light text-center" id="homeL"><div class="h1">Home Left</div></div>
                <div class="col bg-dark text-light border border-light text-center" id="homeR"><div class="h1">Home Right</div></div>
                <div class="col bg-dark text-light border border-light text-center" id="awayL"><div class="h1">Away Left</div></div>
                <div class="col bg-dark text-light border border-light text-center" id="awayR"><div class="h1">Away Right</div></div>
            </div>
        </div>
        <div class="container">
            <button type="button" class="btn btn-outline-primary btn-block btn-block" id="save-game-btn">Save Game</button>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/static/js/api.js"></script>
        <script src="/static/js/navbar.js"></script>
        <script src="/static/js/index.js"></script>
    </body>
</html>