<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/static/css/style.css">
        <title>SnappaStats</title>
        <link rel="shortcut icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    </head>
    <body class="bg-dark">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-brand" href="#">SnappaStats</div>
            <div class="navbar-nav" id="nav-item-container">
            </div>
        </nav>
        <table class="table table-dark">
            <thead>
                <tr class="tableheaders">
                    <th scope="col">#</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Player Name">Name</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Catches">C</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Drops">D</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Clinker Snag">CKS</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Clinker Drop">CKD</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Knicker Snag">KKS</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Knicker Drop">KKD</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Misscommunications">MCs</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="FIFAs">FIFA</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Tosses">Tosses</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Shots on Goal">SOG</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Points">Pts</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Scratches">SCRs</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Misses">Xs</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Highs">H</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Lows">L</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Fouls">F</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Clinkers">CK</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Clinker Points">CK Pts</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Knickers">KK</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Knicker Points">KK Pts</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Sinkers">SK</th>
                </tr>
            </thead>
            <tbody id="user-table-body">
            </tbody>
        </table>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon2" id='new-user-input'>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="new-user-btn">Add New User</button>
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/static/js/api.js"></script>
        <script src="/static/js/navbar.js"></script>
        <script src="/static/js/user.js"></script>
    </body>
</html>